*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-color: rgb(163, 158, 158);
}
.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{
    background-color: white;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;

}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

p{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea{
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px ;
}

input:focus{
    outline-color: rgb(113, 18, 18);
}

textarea:focus{
    outline-color: rgb(113, 18, 18);
}

select:focus{
    outline-color: rgb(113, 18, 18);
}



.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

button{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: transparent solid 2px;
    border-radius: 4px;
}

button:hover{
    color: black;
    background-color: #ccc;
    border: 2px solid red;
    cursor: pointer;
}

.textarea_control{
    grid-column: 1 / span 2;
}

.textarea_control textarea{
    width:100%;
}

@media (max-width:460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }
    
}